<ion-header>
  <ion-navbar>
    <ion-title>
      ngrx/store Test
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col col-12>
        <h1 text-center>Ngrx/store Data:</h1>
        <p text-center>Updates every 5 seconds via background process</p>
        <h2 text-center>{{ message | async | json }}</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="getMessageOne()">Get message one from ngrx/store</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="getMessageTwo()">Get message two from ngrx/store</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="getMotionData()">Get motion data from ngrx/store</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>