<ion-header>
  <ion-navbar>
    <ion-title>Device Motion Acceleration Data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <strong>X:</strong>
      {{ data?.x }}
    </ion-item>

    <ion-item>
      <strong>Y:</strong>
      {{ data?.y }}
    </ion-item>

    <ion-item>
      <strong>Z:</strong>
      {{ data?.z }}
    </ion-item>

    <ion-item>
      <strong>Timestamp:</strong>
      {{ data?.timestamp | date: "medium" }}
    </ion-item>

  </ion-list>

  <ion-grid>

    <ion-row>
      <ion-col col-12>
        <h1 text-center>Ngrx/store Data:</h1>
        <p text-center>Updates every 5 seconds via background process</p>
        <h2 text-center>{{ message | async | json }}</h2>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>